body{
    background-color:rgb(151, 184, 196);
    margin-left: 20px;;
}
h2{
    color: red;
}
figcaption{
    color: rgb(207, 51, 51);
    font-size: 25px;
}
iframe{
    padding-top: 10px;
}